@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --color-title: rgba(68, 122, 204, 1);
  --font-login: "Inter", sans-serif;
}

.form-login .ant-modal-content {
  padding: 20px !important;
  font-family: var(--font-login);
  border-radius: 30px;
  border: 1px solid #000 !important;
}

.form-login {
  width: 580px !important;
  height: 686px;
}

.login-mainTitle {
  text-align: center;
  color: var(--color-title);
  font-size: 30px;
  padding: 20px 40px 0 50px;
  max-width: 535px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  letter-spacing: 0.01px;
  margin: 20px 0 30px 10px;
}

.login-subTitle {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  padding: 0;
  margin: 0 0 20px 10px ;
}

.form-remember span {
  font-size: 12px;
}

.form-item {
  margin: 2px 0 0 50px;
}

.form-remember {
  width: 200px;
  margin: 2px 0 0 55px;
}

.form-item label {
  font-size: 17px !important;
  padding: 0;
}

.form-item .ant-form-item-required::before {
  display: none !important;
}

.form-input {
  border: 1px solid #000;
  border-radius: 0;
  width: 444px;
  height: 35px;
}

.form-forgotPassword {
  font-size: 10px;
  margin-right: 20px;
  color: #000;
}

.form-loginButton {
  width: 170px;
  height: 49px;
  border-radius: 20px;
  background-color: var(--background-color);
  color: #000;
  font-weight: 700;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 10px;
}

.form-goRegister {
  text-align: center;
  font-size: 14px;
  padding-left: 75px;
  width: 397px;
  height: 17px;
}

.form-goRegister-btn {
  padding: 10px 0;
  color: var(--color-active);
}

.form-grpRememberForgot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 2 1;
}
