.ant-modal-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #3c68ef;
}

.ant-form-item-label > label {
    font-weight: bold;
    color: #000;
}

.ant-modal-footer {
    display: flex;
    justify-content: space-between;
}

.ant-btn-primary {
    background-color: #3c68ef;
    border-color: #3c68ef;
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
    background-color: #1c54e8;
    border-color: #1c54e8;
}
