/* Css Info profile */

:root {
  --infoUser-background: rgba(230, 236, 255, 1);
  --infoUser-profile-color: rgba(246, 246, 246, 1);
}

.info-user-card {
  box-shadow: none !important;
}

.info-user-container {
  padding: 10px;
  position: relative;
}

.user-banner {
  height: 293px;
  border-radius: 15px;
  margin: 15px;
  overflow: hidden;
}

.user-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.info-user-main-header {
  background-color: var(--infoUser-background);
}

.info-user-main-header .ant-col {
  padding: 0;
}

.user-info-header {
  display: flex;
  margin-top: 16px;
  cursor: pointer;
  position: absolute;
  top: -130px;
  left: 50px;
  z-index: 10;
}

.user-avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 16px;
}

.user-info-header h3 {
  font-family: var(--font-apply-form);
  font-weight: 700;
  font-size: 36px;
  margin-top: 100px;
}

.user-info-card,
.mentor-info-card,
.help-info-card {
  margin-top: 16px;
  border: none;
  border-radius: 0;
  padding: 20px 0;
}

.user-info-card .ant-card-body,
.help-info-card .ant-card-body {
  background: var(--infoUser-profile-color);
  display: flex;
  padding: 50px;
  position: relative;
}

.help-info-card .ant-card-body {
  flex-direction: column;
}

.user-info-card h4,
.mentor-info-item h4 {
  font-size: 30px;
  color: var(--color-mentor-border);
  font-family: var(--font-mentor-title);
  font-weight: 400;
  margin: 10px 0 10px 10px;
}

.user-info-card li {
  font-family: var(--font-login);
  font-size: 20px;
}

.user-info-change {
  position: absolute;
  right: 60px;
  top: 50px;
  font-size: 18px;
  color: var(--color-active);
}

.user-info-border,
.mentor-info-border {
  max-width: 3px;
  height: 100%;
  background-color: #000;
}

.info-user-tabs {
  background-color: var(--infoUser-background);
  border: none;
}

.info-user-tabs .ant-tabs-nav-wrap {
  margin-top: 45px;
}

.info-user-tabs .ant-tabs-nav::before {
  display: none;
}

.info-user-tabs .ant-tabs-nav-list {
  font-family: var(--font-apply-form-italic);
  font-size: 24px;
  font-weight: 700;
}

/* Css My mentor + Saved */
.mentor-info-card .ant-card-body {
  padding: 10px;
}
.mentor-info-item {
  background: rgba(246, 246, 246, 1);
  margin-bottom: 40px;
  padding: 30px 0;
}

.mentor-info-item h4 {
  margin: 20px 0 0 20px;
}

.mentor-info-item .mentorCard {
  min-height: 220px !important;
  width: 520px;
  display: flex;
  align-items: normal;
  h3 {
    margin: 3px 0;
    font-size: 16px;
  }

  p {
    margin: auto 0;
  }
}

.mentor-info-item .mentorCard .mentorCard-content-menteeCount {
  margin-top: 1px;
}

.mentor-info-item .mentorCard .mentorCard-image {
  width: 218.4px !important;
  height: auto;
}

.mentor-info-item .mentorCard .mentorCard-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mentor-info-item .mentorCard .mentorCard-content-logo {
  top: 5px;
  right: 0;
}

.mentor-info-item .mentorCard .mentorCard-content-introduction {
  font-size: 12px;
}

.mentor-info-item .mentorCard .mentorCard-content-rate {
  width: 280px;
  height: 30px;
  margin: auto 0;
}

.mentor-info-item .mentorCard .mentorCard-content-rateCount {
  margin-top: 5px;
}

.mentor-info-item .mentorCard .mentorCard-content .mentorCard-content-Btn {
  width: auto;
  margin: 3px;
}

.mentor-info-item .mentorCard .mentorCard-content .mentorCard-content-Btn:last-child {
  padding: 6px;
}

.mentorCard-content-Btn-myMentor {
  border: 2px solid var(--color-mentor-border);
  background: #fff;
  color: var(--color-mentor-title);
  border-radius: 0;
  margin: 5px 0 0 0px;
  font-family: var(--font);
  font-weight: 700;
  width: 130px;
}

.mentor-item-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mentor-info-item .mentorCard .mentor-btn-container {
  margin-top: 8px;
  display: flex;
}
