.rating-modal {
  width: 787px !important;
  border: 0.5px solid rgba(0, 0, 0, 1);
  border-radius: 7px;
}

.rating-modal .ant-modal-title {
  height: 60px;
  text-align: center;
  font-family: var(--font-mentor-title);
  font-size: 45px;
  font-weight: 400;
  color: var(--color-mentor-border);
  margin-left: 6px;
}

.rating-subtitle {
  font-family: var(--font-mentor-title);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 20px 10px;
}

.rating-content {
  text-align: center;
}

.rating-star {
  background-color: var(--background-color);
  width: 429px;
  height: 74px;
  margin: auto auto;
}
.rating-star li {
  padding-top: 20px;
  margin: 0 15px;
}

.rating-star li span {
  font-size: 40px;
}

.rating-score {
  margin-top: 5px;
  font-size: 18px;
  color: var(--color-active);
  margin-left: 10px;
}

.rating-submit-btn {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.rating-submit-btn .send-icon {
  width: 48px;
  height: 48px;
  color: var(--color-text);
  transform: rotate(-45deg);
  margin-left: 0px;
}
