.searchRow {
  background: var(--background-color);
  margin: 40px 75px 80px 75px !important;
  border: 0.2px solid rgba(0, 0, 0, 1);
  border-radius: 7px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  z-index: 10;
}

.searchBar input {
  border-radius: 3px !important;
  overflow: hidden !important;
  border: none;
}

.searchBar button {
  width: 187px;
  border-radius: 5px !important;
  overflow: hidden;
  margin-left: 30px;
  background-color: rgba(3, 152, 255, 1);
}

.searchBar-select .ant-select-selector {
  border-radius: 3px !important;
}

.searchBar-select .ant-select-selection-placeholder {
  color: #000;
  font-size: 14px;
  font-family: var(--font);
}

/* Responsive */
/* Max-width: 480px */
@media screen and (max-width: 480px) {
  .searchRow {
    flex-direction: column;
    align-items: stretch; /* Ensures the items take full width */
    margin: 40px 15px !important;
  }

  .searchBar {
    width: 100%;
    margin-bottom: 10px; /* Adds space between the search bar and the button */
    display: flex;
    flex-direction: column;
  }

  .searchBar input {
    width: 100%;
  }

  .searchBar button {
    width: 60px;
    font-size: 10px;
  }

  .searchBar-select {
    width: 100%;
    margin-bottom: 10px; /* Adds space between selects */
  }
}

