/* Css Header */
.layout-default__header {
  background-color: var(--background-color);
  padding: 40px 20px;
  margin: 6px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 99%;
  z-index: 999;
  position: sticky;
  top: 0;
}

.layout-default__logo {
  display: flex;
  justify-content: space-around;
  min-width: 300px;
}

.layout-default__logo--tt,.layout-default__logo--neu, .layout-default__logo--ncc, .layout-default__logo--noc, .layout-default__logo--ndm {
  width: 66px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  font-size: 10px;
  font-weight: 400;
}

.layout-default__logo--tt img, .layout-default__logo--noc img, .layout-default__logo--ncc img, .layout-default__logo--ndm img {
  width: 100%;
  object-fit: cover;
}

.layout-default__menu--active {
  border-bottom: 1px solid var(--color-active);
  color: var(--color-active) !important;
}

.layout-default__menu {
  padding: 10px;
  margin: 0 0 0 20px;
}

.layout-default__menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-left: 30px;
}

.layout-default__menu ul li {
  list-style: none;
  padding: 10px;
}

.layout-default__menu ul li a {
  color: var(--color-text);
  font-size: 18px;
  font-weight: 700;
  line-height: 24.38px;
  font-family: var(--font);
}

.layout-default__loginMenu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout-default__loginMenu span {
  color: #000000;
}

.layout-default__loginMenu button {
  border: none;
  background-color: var(--background-color);
  font-size: 18px;
  font-weight: 700;
  box-shadow: none;
  font-family: var(--font);
}

.layout-default__map {
  margin-right: 20px;
}

/* css user info */

.layout-default__loginMenu .user-info {
  display: flex;
  align-items: center;
  justify-content: center;
}


.layout-default__loginMenu .user-info span {
  width: 60px;
  height: 60px;
  margin: 10px;
  max-width: 100%; 
  overflow: hidden;
  flex-shrink: 0;
}

.layout-default__loginMenu .user-info span img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.layout-default__loginMenu .user-info a {
  font-family: var(--font);
  font-size: clamp(12px, 1.5vw, 15px); 
  font-weight: 700;
  color: #000;
  text-wrap: nowrap;
}

/* End css user dropdown */

/* css user dropdown */
.user-dropdown {
  background-color: var(--dropdown-color) !important;
  padding: 10px !important;
  height: auto;
  width: 205px;
}

.user-dropdown-item {
  width: 200px;
  height: 47px;
  background-color: #fff;
  padding: 3px !important;
  margin-bottom: 8px !important;
  border-radius: 2px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.user-dropdown-item:hover {
  background-color: var(--background-color);
}

.dropdownItem-list {
  display: flex;
  align-items: center;
  padding: 0 10px;
} 

.dropdownItem-logo {
  width: 33px;
  height: 33px;
  border: 0.5px solid rgba(0, 0, 0, 1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdownItem-icon {
  font-size: 19px !important;
  margin-right: 9px;
}

.dropdownItem-list span {
  margin-left: 10px;
  font-family: var(--font);
  font-weight: 700;
  font-size: 15px;
}
/* End css user dropdown */

/* End Css Header */

/* Css Footer */
.layout-default__footer {
  width: 100%;
  background-color: var(--background-color);
  font-family: var(--font);
  padding: 15px 10px;
}

.layout-default__footerCol {
  font-family: var(--font);
}

.layout-default__logoFooter {
  display: flex;
  margin: 25px 0;
}

.layout-default__logoFooter--tt, .layout-default__logoFooter--ncc, .layout-default__logoFooter--noc, .layout-default__logoFooter--ndm {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  font-size: 10px;
  font-weight: 400;
}

.layout-default__logoFooter--tt img, .layout-default__logoFooter--ncc img, .layout-default__logoFooter--noc img, .layout-default__logoFooter--ndm img {
  width: 100%;
  object-fit: cover;
}

.layout-default__footerContainer {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  padding: 0 20px;
}

.layout-default__center {
  margin: 0;
}

.layout-default__title {
  width: 414px;
  font-size: 17px;
  line-height: 20.72px;
  margin-bottom: 15px;
}

.layout-default__office, .layout-default__fanpage, .layout-default__email {
  font-size: 12px;
  margin-bottom: 10px;
}

.layout-default__hotline {
  display: flex;
  font-size: 12px;
}

.layout-default__hotline span {
  margin-left: 5px;
}

.layout-default__about {
  margin-top: 45px;
}

.layout-default__about--title {
  font-size: 16px;
  max-width: 120px;
  padding: 10px 0;
  position: relative;
  
}

.layout-default__about--title::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 28%;
  width: 70%;
  border-bottom: 2px solid black;
}

.layout-default__about--list ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  padding-top: 30px;
}

.layout-default__about--list ul li {
  list-style: none;
  padding: 7px 3px;
  font-size: 14px;
}

.layout-default__map {
  margin: 25px 0;
}

.layout-default__copyright {
  font-size: 10px;
  padding: 10px 40px;
}

/* Side bar */
.drawer-user-info {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 100px;
}

.drawer-user-info .ant-avatar {
  margin-right: 16px;
  margin-bottom: 2px;
}

.drawer-user-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.drawer-menu {
  padding: 0;
}

.drawer-menu li {
  padding: 0 105px !important;
  width: 100%;
}

.drawer-menu .dropdownItem-list {
  display: flex;
  align-items: center;
}

.drawer-menu .dropdownItem-icon {
  margin-right: 8px;
}

.hamburger-button {
  display: none;
  font-size: 24px;
  cursor: pointer;
  margin-left: auto;
  margin-top: 0;
}

.drawer .ant-menu-submenu-title {
  height: 100px !important;
}

.button-sidebar-item .ant-menu-light .ant-menu-item-selected{
  background-color: #fff !important;
}

.button-sidebar-item button {
  padding: 0 ;
}

.button-sidebar-item span {
  color: var(--color-mentor-title);
  text-transform: uppercase !important;
  font-weight: 700;
}

/* Resposive */
/* Max-width: 1200px */
@media (max-width: 1200px) {
  .layout-default__header {
    margin: auto;
  }

  .hamburger-button {
    display: block;
    font-size: 24px;
    cursor: pointer;
    margin-left: auto;
    margin-top: 0;
  }

  .layout-default__menu {
    display: none;
  }

  .drawer {
    display: block;
  }

  .layout-default__loginMenu .user-info {
    display: none;
  }

  .layout-default__loginMenu button, 
  .layout-default__loginMenu span {
    display: none;
  } 
}

/* Max-width: 992px */

@media screen and (max-width: 992px) {
  .layout-default__about {
    margin-left: 80px;
  }
}

/* Max-width: 768px */

@media screen and (max-width: 768px) {
  .layout-default__header {
    margin: auto;
  }

  .layout-default__about {
    margin-left: 0;
  }
}

/* Max-width: 480px */
/* Header */
@media (max-width: 480px) {
  .layout-default__header {
    margin: auto;
  }

  .layout-default__menu {
    display: none !important;
  }

  .hamburger-button {
    display: block;
    font-size: 24px;
  }

  .user-info {
    display: none !important;
  }

  .layout-default__logo {
    min-width: 100px;
  }

  .layout-default__logo--tt,.layout-default__logo--neu, .layout-default__logo--ncc, .layout-default__logo--noc, .layout-default__logo--ndm {
    width: 30px;
    height: 30px;
  }

  .layout-default__loginMenu button, .layout-default__loginMenu span {
    display: none !important;
  }

  .layout-default__map {
    border-radius: 15px;
    overflow: hidden;
    border: none !important;
  }
}

/* Footer */
@media screen and (max-width: 480px) {
  .layout-default__logoFooter {
    margin-left: 0;
  }

  .layout-default__center {
    margin-left: 5px !important;
  }

  .layout-default__title {
    font-size: 15px;
    width: 99%;
  }
}