/* Css Header */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background-color: rgba(205, 225, 255, 1);
  --color-text: #000000;
  --color-active: #DB2828;
  --font: "Montserrat", sans-serif;
}

.layout-default__header {
  background-color: var(--background-color);
  padding: 40px 10px;
  margin: 8px 6px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 100%;
  z-index: 999;
  position: sticky;
}

.layout-default__logo {
  display: flex;
}

.layout-default__logo--tt, .layout-default__logo--noc, .layout-default__logo--ndm {
  background-color: #fff;
  width: 66px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  font-size: 10px;
  font-weight: 400;
}

.layout-default__menu {
  max-width: 760px;
}

.layout-default__menu--active {
  border-bottom: 1px solid var(--color-active);
  color: var(--color-active) !important;
}

.layout-default__menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 0 35px;
}

.layout-default__menu ul li {
  list-style: none;
  padding: 10px;
}

.layout-default__menu ul li a {
  color: var(--color-text);
  font-size: 18px;
  font-weight: 700;
  line-height: 24.38px;
  font-family: var(--font);
}

.layout-default__loginMenu span {
  color: #000000;
}

.layout-default__loginMenu button {
  border: none;
  background-color: var(--background-color);
  font-size: 18px;
  font-weight: 700;
  box-shadow: none;
  font-family: var(--font);
}

/* End Css Header */

/* Css Footer */
.layout-default__footer {
  width: 100%;
  background-color: var(--background-color);
  font-family: var(--font);
  padding: 15px 10px;
}

.layout-default__footerCol {
  font-family: var(--font);
}

.layout-default__logoFooter {
  display: flex;
  margin: 25px 40px;
}

.layout-default__logoFooter--tt, .layout-default__logoFooter--noc, .layout-default__logoFooter--ndm {
  background-color: #fff;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  font-size: 10px;
  font-weight: 400;

}

.layout-default__footerContainer {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}

.layout-default__center {
  margin-left: 40px;
}

.layout-default__title {
  width: 414px;
  font-size: 17px;
  line-height: 20.72px;
  margin-bottom: 15px;
}

.layout-default__office, .layout-default__fanpage, .layout-default__email {
  font-size: 12px;
  margin-bottom: 10px;
}

.layout-default__hotline {
  display: flex;
  font-size: 12px;
}

.layout-default__hotline span {
  margin-left: 5px;
}

.layout-default__about {
  margin-top: 45px;
}

.layout-default__about--title {
  font-size: 16px;
  max-width: 120px;
  padding: 10px 0;
  position: relative;
  
}

.layout-default__about--title::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 28%;
  width: 70%;
  border-bottom: 2px solid black;
}

.layout-default__about--list ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  padding-top: 30px;
}

.layout-default__about--list ul li {
  list-style: none;
  padding: 7px 3px;
  font-size: 14px;
}

.layout-default__map {
  background-color: #fff;
  width: 578px;
  height: 299px;
  margin: 25px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid #000;
  border-radius: 17px;
}

.layout-default__copyright {
  font-size: 10px;
  padding: 10px 40px;
}