.modal-forgotPW {
  width: 619px !important;
  height: 507px;
}

.modal-forgotPW .ant-modal-content{
  font-family: var(--font-login);
  border-radius: 20px;
}



.modal-forgotPW .ant-modal-title {
  text-align: center;
  font-size: 30px !important;
  color: var(--color-active);
  font-weight: 800;
  margin: 25px 0 5px 0;
}

.modal-forgotPW p {
  text-align: center;
  font-size: 14px;
  margin-top: 8px;
  letter-spacing: .65px;
}

.form-forgotPW {
  padding: 0 40px;
  margin-left: 8px;
}

.form-forgotPW .ant-input {
  border-radius: 0;
  min-height: 30px;
  border: 1px solid #000;
  margin: 0 0 10px 0;
}

.form-forgotPW-email {
  margin-top: 30px;
}

.form-forgotPW-check {
  margin-top: -20px;
  margin-right: 20px;
  width: 700px;
}

.form-forgotPW-email .ant-form-item-label {
  /* padding: 20px !important; */
}

.form-forgotPW-btn {
  width: 93px;
  height: 54px;
  border-radius: 45px;
  font-size: 15px;
  background-color: var(--background-color);
  color: #000;
  font-weight: 700;
  padding: 10px;
}

.form-forgotPW-checkBtn {
  padding: 0;
  color: #000;
  font-weight: 700;
}